.feutures{
    display: flex;
    @extend %list;
}
.feutures__item:not(:last-child) {
    margin-right: 30px;
}

.feutures__icon {

    width: 70px;
    height: 70px;
}

.feutures__image {
    width: 270px;
    height: 120px;
    border-radius: 3px;
    display: flex;
    background-color: #F5F4FA;
    justify-content: center;
    align-items: center;

}

.feutures__title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.feutures__text {
    margin-top: 0;
    margin-bottom: 0;

}