html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: getColor('secondary');
}


:root {
    --main-animation: cubic-bezier(0.4, 0, 0.2, 1);
}



.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container--flex {
    display: flex;
    align-items: center;
}

.section {
    padding-top: 94px;
}

.section__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: getColor('primery');

    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    margin: -1px;

    width: 1px;
    height: 1px;

    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);

}